<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAD BOYS</title>

    <!---------------CSS---------------->
    <link rel="stylesheet" href="../../Styles/movie.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <!------- icon ---------->

    <!-- font-awesome -->
    <script src="../font/js/all.min.js"></script>
    <script src="https//kit.fontawesome.com/edb587e74b.js" crossorigin="anonymous"></script>

</head>


<!--------------Body--------------->

<body>
    <!--------------Header------------->

    <header class="">
        <div class="wrapper">
            <div class="logo">
                <a href="../index.html">
                    <h1> CinemaWorld </h1>
                </a></div>
            <div class="navs">
                <nav>
                    <a href="../index.html">inicio</a>
                </nav>

            </div>
        </div>
    </header>


<div class = 'contenedor'>

<img src = '../../images/Bad-Boys.jpg' alt = '' class = 'bg-img'>

<div class = 'all'>

<h1>BAD BOYS</h1>

<div class = 'img-sinop'>

<div class = 'img'>
<img src = '../../images/Bad-Boys.jpg' alt = ''>
</div>

<div class = 'sinop'>

<div class = 'info'>
<ul>
<li>
<strong> Duración: </strong><span>2h 4min </span> <br>
</li><br>
<li>
<strong> Año: </strong><span> 17 Enero 2020 </span>
</li><br>
<li>
<strong> Director: </strong><span> Bilall Fallah, Adil El Arbi </span>
</li><br>
<li class = 'scroll'>
<strong> Reparto: </strong><span> Will Smith, Martin Lawrence, Vanessa Hudgens, Kate del
Castillo, Paola Nuñez, Jacob Scipio, Joe
Pantoliano, Charles Melton, Alexander Ludwig, Nicky Jam, DJ Khaled, Ivo Nandi, Happy
Anderson,
Massi
Furlan, David Shae, Michael Bay </span>
</li><br>
</ul>

</div>

<p class = 'sinopsis'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta saepe voluptatem
fugiat id
laboriosam
deserunt ipsum magnam in? Soluta iure nostrum repellendus, nihil atque mollitia aliquid accusamus
perspiciatis ipsam vitae?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta saepe voluptatem
fugiat id
laboriosam
deserunt ipsum magnam in? Soluta iure nostrum repellendus, nihil atque mollitia aliquid accusamus
perspiciatis ipsam vitae?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta saepe voluptatem
fugiat id
laboriosam
deserunt ipsum magnam in? Soluta iure nostrum repellendus, nihil atque mollitia aliquid accusamus
perspiciatis ipsam vitae?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta saepe voluptatem
fugiat id
laboriosam
deserunt ipsum magnam in? Soluta iure nostrum repellendus, nihil atque mollitia aliquid accusamus
perspiciatis ipsam vitae?
</p>
</div>

</div>
</div>
</div>

<!-- ------------------- PELICULA ------------------- -->

<div class = 'peli'>
<div class = 'conten-peli'>
<iframe class = 'iframe'
src = 'https://amvjgiuqfh.mstreamcdn.com/r/eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODc4MzA1OTIsImRhdGEiOlsiMTkxLjEwOS4xMTEuMTc0IiwiMXNwcGR2eXppZzU4IiwibiJdfQ.c-8o9UlEkmjxfEdV2m8QDBAXKPdmQaPwOS3t_5ZnPkE.mp4'
frameborder = '0' allowfullscreen></iframe>
</div>
</div>

<footer>
    <h2>CinemaWorld</h2>
</footer>
<!-- -------------------- JavaScripts -------------------- -->
<script src = "http://code.jquery.com/jquery-latest.js"></script>   <!-- JQuery -->
<script src = "../../Scripts/scripts.js"></script>
</body>
</html>