<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL HOMBRE INVISIBLE</title>

    <!---------------CSS---------------->
    <link rel="stylesheet" href="../../Styles/movie.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <!------- icon ---------->

    <!-- font-awesome -->
    <script src="../font/js/all.min.js"></script>
    <script src="https//kit.fontawesome.com/edb587e74b.js" crossorigin="anonymous"></script>

</head>


<!--------------Body--------------->

<body>
    <!--------------Header------------->

    <header class="">
        <div class="wrapper">
            <div class="logo">
                <a href="../index.html">
                    <h1> CinemaWorld </h1>
                </a></div>
            <div class="navs">
                <nav>
                    <a href="../index.html">inicio</a>
                </nav>

            </div>
        </div>
    </header>


<div class = 'contenedor'>

<img src = '../../images/El-hombre-invisible.jpg' alt = '' class = 'bg-img'>

<div class = 'all'>

<h1>EL HOMBRE INVISIBLE</h1>

<div class = 'img-sinop'>

<div class = 'img'>
<img src = '../../images/El-hombre-invisible.jpg' alt = ''>
</div>

<div class = 'sinop'>
<div class = 'info'>
<ul>
<li>
<strong> Duración: </strong><span> 1h 49min </span>
</li><br>
<li>
<strong> Año: </strong><span> 7 Febrero 2020 </span>
</li><br>
<li>
<strong> Director: </strong><span>Cathy Yan </span>
</li><br>
<li class = 'scroll'>
<strong> Reparto: </strong>
<span> Margot Robbie, Mary Elizabeth Winstead, Ewan McGregor, Jurnee Smollett-Bell, Rosie
Pérez, Chris
Messina, Derek Wilson, Steven Williams, Ali Wong, Matthew Willig, Charlene Amoia,
François Chau,
Greice Santo, Eric Michael Cole, Nico Greetham, Judy Kain, Eddie J. Fernandez, Robert
Catrini,
Dana Lee, Anthony Molinari, Ego Mikitas, Michael Masini, Gerald Downey, David Bianchi,
Sara
Montez, Mike Ferguson, Lenora May, Dominic Pace, David Anthony Buglione, Jeff Lipary,
Joe Bucaro
III, Eddie Alfano, Ryan Wicks, Pramod Kumar, Paul Lasa, William Guirola, Bruno Oliver,
Karen
Teliha, Zack Whyel, Julian Garcia, Nick Phillips, Bojana Novakovic, Jenelle McKee, Luis
Richard
Gomez, Ryan Watson, David Ury, Shad Gaspard, Adinett Nsabimana, Jason Catron, Jack
Dourakos,
Diezel Ramos </span>
</li>
</ul>

</div>

<p class = 'sinopsis'>El hombre invisible Cecilia (Elisabeth Moss) rehace su vida tras recibir la noticia de que su exnovio, un maltratador empedernido, ha fallecido. Sin embargo, su cordura comienza a tambalearse cuando empieza tener la certeza de que en realidad sigue vivo.
</p>
</div>

</div>
</div>
</div>

<!-- ------------------- PELICULA ------------------- -->

<div class = 'peli'>
<div class = 'conten-peli'>
<iframe class = 'iframe'
src = 'https://www699.o0-2.com/token=zKBIgseNgNQINFGSY4jcxw/1587799719/191.109.0.0/102/b/0a/8f61a858eecd6fd28098ee842e0690ab-480p.mp4'
frameborder = '0' allowfullscreen></iframe>
</div>
</div>

<footer>
    <h2>CinemaWorld</h2>
</footer>
<!-- -------------------- JavaScripts -------------------- -->
<script src = "http://code.jquery.com/jquery-latest.js"></script>   <!-- JQuery -->
<script src = "../../Scripts/scripts.js"></script>
</body>
</html>