<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIDOS</title>

    <!---------------CSS---------------->
    <link rel="stylesheet" href="../../Styles/movie.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <!------- icon ---------->

    <!-- font-awesome -->
    <script src="../font/js/all.min.js"></script>
    <script src="https//kit.fontawesome.com/edb587e74b.js" crossorigin="anonymous"></script>

</head>


<!--------------Body--------------->

<body>
    <!--------------Header------------->

    <header class="">
        <div class="wrapper">
            <div class="logo">
                <a href="../index.html">
                    <h1> CinemaWorld </h1>
                </a></div>
            <div class="navs">
                <nav>
                    <a href="../index.html">inicio</a>
                </nav>

            </div>
        </div>
    </header>


<div class = 'contenedor'>

<img src = '../../images/Unidos.jpg' alt = '' class = 'bg-img'>

<div class = 'all'>

<h1>UNIDOS</h1>

<div class = 'img-sinop'>

<div class = 'img'>
<img src = '../../images/Unidos.jpg' alt = ''>
</div>

<div class = 'sinop'>

<div class = 'info'>
<ul>
<li>
<strong> Duración: </strong><span>1h 42min </span>
</li><br>
<li>
<strong> Año: </strong> <span> 6 Marzo 2020 </span>
</li><br>
<li>
<strong> Director: </strong> <span>Dan Scanlon </span>
</li><br>
<li class = 'scroll'>
<strong> Reparto: </strong> <span>Ali Wong, Chris Pratt, John Ratzenberger, Julia Louis-Dreyfus, Lena Waithe, Mel Rodriguez, Octavia Spencer, Tom Holland, Tracey Ullman </span>
</li><br>
</ul>

</div>

<p class = 'sinopsis'>Ambientado en un mundo de fantasía suburbana, dos hermanos elfos adolescentes, Ian y
Barley Lightfood, se embarcan en una aventura en la que se proponen descubrir si existe aún algo de
magia en el mundo que les permita pasar un último día con su padre, que falleció cuando ellos eran
aún muy pequeños como para poder recordarlo.
</p>
</div>

</div>
</div>
</div>

<!-- ------------------- PELICULA ------------------- -->

<div class = 'peli'>
<div class = 'conten-peli'>
<iframe class = 'iframe'
src = 'https://www85.o0-1.com/token=HDJ6buUtvl5RoMSehLM-dA/1587805716/191.109.0.0/74/8/bb/1172d2e9ff27718893e822d1cec42bb8-480p.mp4'
frameborder = '0' allowfullscreen>
</iframe>

<!-- <iframe src = 'https://zvwbbdnrqg.mstreamcdn.com/f/eyJhbGciOiJIUzI1NiJ9.eyJkYXRhIjpbIjE5MS4xMDkuNzIuNjAiLCJwOWRza2EyMXRkaGsiLCJuIl0sImV4cCI6MTU4NzgzNDcwMH0.H45p1O79dZz3wkzIpvtE3lwp3DvfIrN4LxChv56Cyao.mp4' frameborder = '0'></iframe> -->
</div>
</div>

<footer>
    <h2>CinemaWorld</h2>
</footer>
<!-- -------------------- JavaScripts -------------------- -->
<script src = "http://code.jquery.com/jquery-latest.js"></script>   <!-- JQuery -->
<script src = "../../Scripts/scripts.js"></script>
</body>
</html>