<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaWorld</title>

    <!---------------CSS---------------->
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <!------- icon ---------->

    <!-- font-awesome -->
    <script src="../font/js/all.min.js"></script>
    <script src="https//kit.fontawesome.com/edb587e74b.js" crossorigin="anonymous"></script>

</head>


<!--------------Body--------------->

<body>
    <!--------------Header------------->

    <header class="">
        <div class="wrapper">
            <div class="logo">
                <a href="index.html">
                    <h1> CinemaWorld </h1>
                </a></div>
            <div class="navs">
                <nav class="">
                    <a href="index.html">inicio</a>
                    <i class="icon fas fa-search"></i>
                    <i class="icon fas fa-user"></i>
                </nav>

            </div>
        </div>
    </header>

    <figure class='contenedor'>


        <!-- ------------------ Mision de rescate ------------------ -->

        <div class='contenet-img'>
            <a href='movie/Mision-de-rescate.html'> <img src='../images/Extracción.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>MISION  DE RESCATE</h4><br><br>
                    <span>Tyler Rake, un mercenario que ofrece sus servicios en el mercado negro, y al que contratan para una peligrosa misión: rescatar al hijo secuestrado de un capo de la mafia</span>
            </a>
        </div>
        </div>

        <!-- ------------------ Unidos ------------------ -->

        <div class='contenet-img'>
            <a href='movie/Unidos.html'> <img src='../images/Extracción.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>UNIDOS</h4><br><br>
                    <span>Ian y Barley Lightfood, se embarcan en una aventura para descubrir si existe algo de magia en
                        el
                        mundo que les permita pasar un último día con su padre.</span>
            </a>
        </div>
        </div>

        <!-- ------------------ El-hombre-invisible ------------------ -->

        <div class='contenet-img'>
            <a href='movie/El-hombre-invisible.html'> <img src='../images/El-hombre-invisible.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>El HOMBRE INVISIBLE</h4>
                    <span>Cecilia rehace su vida tras recibir la noticia de que su exnovio ha fallecido. Sin embargo, su cordura comienza a tambalearse cuando empieza tener la certeza de que en sigue vivo.</span>
            </a>
        </div>
        </div>

        <!-- ------------------ BloodShoot ------------------ -->

        <div class='contenet-img'>
            <a href='movie/BloodShot.html'> <img src='../images/Bloodshot.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>BLOODSHOT</h4><br><br>
                    <span>Bloodshot, es resucitado por la compañía Rising Spirit Technologies a través del uso de
                        nanotecnología, Ray trata de volver a ser el que era antes de sufrir un accidente.</span>
            </a>
        </div>
        </div>

        <!-- ------------------ Sonic ------------------ -->

        <div class='contenet-img'>
            <a href='movie/Sonic.html'> <img src='../images/Sonic.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>SONIC</h4><br> <br>
                    <span>Sonic y Tom unirán sus fuerzas para tratar de detener al Dr. Robotnik, que intenta atrapar a
                        Sonic
                        con el fin de emplear sus inmensos
                        poderes para dominar el mundo.</span>
            </a>
        </div>
        </div>

        <!-- ------------------ Aves-de-presa ------------------ -->

        <div class='contenet-img'>
            <a href='movie/Aves-de-presa.html'> <img src='../images/Aves-de-presa.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>AVES DE PRESA</h4><br> <br>
                    <span>Después de separarse de Joker, Harley Quinn y otras tres heroínas unen sus fuerzas para salvar
                        a
                        una niña del malvado rey del crimen Máscara Negra</span>
            </a>
        </div>
        </div>

        <!-- ------------------ Bad-Boys ------------------ -->

        <div class='contenet-img'>
            <a href='movie/Bad-Boys.html'> <img src='../images/Bad-Boys.jpg' alt=''>
                <div class='year'>
                    <p>2020</p>
                </div>
                <div class='effect'>
                    <h4>BADBOYS</h4> <br> <br>
                    <span>En esta tercera entrega de la franquicia, los polícía Mike Lowrey y Marcus Burnett vuelven a
                        patrullar juntos en un último viaje.</span>
            </a>
        </div>
        </div>

    </figure>

    <footer>
        <h2>CinemaWorld</h2>
    </footer>
    <!-- -------------------- JavaScripts -------------------- -->
    <script src='http://code.jquery.com/jquery-latest.js'></script> <!-- JQuery -->
    <script src='../../Scripts/scripts.js'></script>
</body>

</html>